<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Editar Registro</title>
</head>
<body>

    

    <div class="container">

        
        <div class="d-flex align-items-center justify-content-center">
            <form method="POST" action="/atualizar/{{ todo_id }}">
                <div class="col">
                    <label for="name">Nome:</label>
                    <input type="form-control form-control-lg" id="name" name="name" value="{{ todo.name }}"><br><br>
                    <button class="btn btn-lg btn-primary"  type="submit" value="atualizar" >Atualizar</button>
                </div>
            </form>
          </div>
        </div>
      </div>
      
</body>
</html>
