<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="text-center" >
        <h1>To Do List</h1>

        <form  action="/add" method="post">
            <div >
                <label class="thick">Enter the task</label>
                <input type="form-control form-control-lg" name="name">
            <button class="btn btn-lg btn-primary"  type="submit" >Add</button>
        </div>
        </form>

        <br><br>


   
        <table >
            <tbody>
            {% for todo in todo_list %}
            <tr>
                <td class="task">{{todo.task_id }}</td>
                <td class="task">{{ todo.name }}</td>
                {% if todo.done == False %}
                <td><label class="task-status-done">Not done</label></td>
                {% else %}
                <td><label class="task-status-notdone" >Done</label></td>
                {% endif %}
                <td><a  href="/update/{{ todo.task_id }}" class="btn btn-warning">Update</a></td>
                <td><a  href="/delete/{{ todo.task_id }}" class="btn btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>
</body>
</html>